html {
  box-sizing: border-box;
}

body {
  font-family: $main-font;
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: $main-text-color;
  color: $secondary-text-color;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

table,
th,
td {
  border-collapse: collapse;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  font-family: $main-font;
  font-style: normal;
}
