.container {
  max-width: $first-bp;
  margin: 0 auto;
  padding: 20px;
  @media screen and (min-width: $second-bp) {
    width: $second-bp;
    padding: 60px 75px;
  }
  @media screen and (min-width: $third-bp) {
    padding: 60px 70px;
    width: $third-bp;
  }
}
