.container {
  max-width: $mobile;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (min-width: $tablet) {
    max-width: $tablet;
    padding-left: 75px - 8px;
    padding-right: 75px - 9px;
  }

  @media screen and (min-width: $desktop) {
    max-width: $desktop;
    padding-left: 71px - 8px;
    padding-right: 71px - 9px;
  }
}
