:root {
  --main-font: 'Roboto', sans-serif;
  --accent-color: #ff6b08;
  --main-text-color: #ffffff;
  --secondary-text-color: #000000;
  --third-text-color: #8c8c8c;
  --footer-text-color: #545454;
  --main-bg-color: #f7f7f7;
  --icon-color: #818181;
  --gradient-color: rgba(0, 0, 0, 0.56);
  /*  ---------------- Animation ----------------- */
  --time: 250ms;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  height: 44px;
  border-radius: 5px;
  text-transform: uppercase;
  border: 1px solid;
  background-color: transparent;
  text-align: center;
  padding-left: 7px;
  padding-right: 7px;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.btn:hover, .btn:focus {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
  -webkit-transition: cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.btn--accent {
  border: none;
  color: #ffffff;
  background-color: #ff6b08;
}

.btn-back-to-top {
  position: fixed;
  bottom: 70px;
  right: 20px;
  display: none;
  background-color: var(--accent-color);
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 20px;
  border: none;
}

.is-hidden {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: #ffffff;
  color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

table,
th,
td {
  border-collapse: collapse;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.container {
  max-width: 320px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 67px;
    padding-right: 66px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
    padding-left: 63px;
    padding-right: 62px;
  }
}

.header {
  color: var(--main-text-color);
  font-family: 'Roboto', sans-serif;
}

.header--home {
  background-image: -webkit-gradient(linear, left top, right top, from(var(--gradient-color)), to(var(--gradient-color))), url(../images/header/home/header-home-bg-1024.jpg);
  background-image: linear-gradient(to right, var(--gradient-color), var(--gradient-color)), url(../images/header/home/header-home-bg-1024.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .header--home {
    background-image: -webkit-gradient(linear, left top, right top, from(var(--gradient-color)), to(var(--gradient-color))), url(../images/header/home/header-home-bg-1024@2x.jpg);
    background-image: linear-gradient(to right, var(--gradient-color), var(--gradient-color)), url(../images/header/home/header-home-bg-1024@2x.jpg);
  }
}

.header--library {
  background-image: -webkit-gradient(linear, left top, right top, from(var(--gradient-color)), to(var(--gradient-color))), url(../images/header/library/header-library-bg-1024.jpg);
  background-image: linear-gradient(to right, var(--gradient-color), var(--gradient-color)), url(../images/header/library/header-library-bg-1024.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .header--library {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url(../images/header/library/header-library-bg-1024@2x.jpg);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/header/library/header-library-bg-1024@2x.jpg);
  }
}

.header__wrapper {
  height: 230px;
  padding-top: 41px;
  padding-bottom: 59px;
}

.header__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 37px;
}

.header__logo {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header__logo-text {
  font-size: 30px;
  font-weight: 500;
  line-height: 1.17;
  cursor: pointer;
}

.header .top-nav__button {
  padding: 0;
  border: none;
  background-color: transparent;
  color: var(--main-text-color);
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.17;
  cursor: pointer;
}

.header .top-nav__button:hover {
  border-bottom: 3px solid var(--accent-color);
}

.header .top-nav__button.is-active {
  border-bottom: 3px solid var(--accent-color);
}

.header .top-nav__button:not(:last-child) {
  margin-right: 39px;
}

.header__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__search {
  text-align: center;
  border-bottom: 0.5px solid var(--main-text-color);
}

.header__search .input {
  width: 320px;
  border: none;
  outline: none;
  background: transparent;
  color: var(--main-text-color);
}

.header__search .input::-webkit-input-placeholder {
  color: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.17;
}

.header__search .input:-ms-input-placeholder {
  color: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.17;
}

.header__search .input::-ms-input-placeholder {
  color: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.17;
}

.header__search .input::placeholder {
  color: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.17;
}

.header__search .search-button .search-icon {
  stroke: #fff;
}

.button {
  width: 136px;
  padding: 12px 38px 14px;
  border: 1px solid var(--main-text-color);
  border-radius: 5px;
  background-color: transparent;
  color: var(--main-text-color);
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  text-transform: uppercase;
}

.button:not(:last-child) {
  margin-right: 15px;
}

.button:hover, .button:focus {
  border: 1px solid var(--accent-color);
  background-color: var(--accent-color);
}

.button.is-active {
  border: 1px solid var(--accent-color);
  background-color: var(--accent-color);
}

.gallery {
  padding: 20px 0;
}

@media screen and (min-width: 1024px) {
  .gallery {
    padding: 60px 0;
  }
}

.gallery__list {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  justify-items: center;
  gap: 20px;
  display: -ms-grid;
  display: grid;
  margin: 0 auto 40px;
  list-style: none;
}

@media screen and (min-width: 768px) {
  .gallery__list {
    gap: 30px;
    margin-bottom: 50px;
    -ms-grid-columns: (minmax(294px, 1fr))[2];
        grid-template-columns: repeat(2, minmax(294px, 1fr));
  }
}

@media screen and (min-width: 1024px) {
  .gallery__list {
    max-width: 882px;
    -ms-grid-columns: (minmax(274px, 1fr))[3];
        grid-template-columns: repeat(3, minmax(274px, 1fr));
  }
}

.gallery__item {
  width: 100%;
}

.card__thumb {
  margin: 0 auto 10px;
  border-radius: 5px;
}

.card__poster {
  margin: 0 auto;
  border-radius: 5px;
  width: 100%;
  height: auto;
  display: block;
  max-height: 398px;
}

@media screen and (min-width: 768px) {
  .card__poster {
    min-width: 294px;
  }
}

@media screen and (min-width: 1024px) {
  .card__poster {
    min-width: 274px;
  }
}

.card__title,
.card__genres,
.card__release-date {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
}

.card__title {
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.card__description {
  margin: 0;
  color: var(--accent-color);
}

.card__release-date {
  margin-left: 1px;
  padding-left: 5px;
  border-left: 1px solid var(--accent-color);
}

.footer {
  color: #545454;
  background-color: #f7f7f7;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 14px;
  line-height: 1.14;
}

@media screen and (min-width: 768px) {
  .footer {
    font-size: 16px;
    line-height: 1.19;
  }
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__icon {
  margin-right: 10px;
  margin-left: 10px;
  fill: #ff6b08;
}

@media screen and (max-width: 767px) {
  .footer__copyright {
    margin-bottom: 10px;
  }
}

.footer__authors {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .footer__authors {
    margin-left: 4px;
  }
}

.footer__link {
  color: inherit;
}

.footer__link:hover {
  color: #ff6b08;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.heartBeat {
  -webkit-animation: heartBeat 1s infinite;
          animation: heartBeat 1s infinite;
}

@-webkit-keyframes heartBeat {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  20% {
    -webkit-transform: scale(1.25) translateX(5%) translateY(5%);
            transform: scale(1.25) translateX(5%) translateY(5%);
  }
  40% {
    -webkit-transform: scale(1.5) translateX(9%) translateY(10%);
            transform: scale(1.5) translateX(9%) translateY(10%);
  }
}

@keyframes heartBeat {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  20% {
    -webkit-transform: scale(1.25) translateX(5%) translateY(5%);
            transform: scale(1.25) translateX(5%) translateY(5%);
  }
  40% {
    -webkit-transform: scale(1.5) translateX(9%) translateY(10%);
            transform: scale(1.5) translateX(9%) translateY(10%);
  }
}

.tui-pagination .tui-is-selected,
.tui-pagination strong {
  color: #fff;
  background: var(--accent-color);
  border-color: var(--accent-color);
  cursor: default;
}

#pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 10px;
}

.tui-pagination .tui-is-selected:hover {
  background-color: var(--accent-color);
}

.tui-pagination .tui-first-child.tui-is-selected,
.tui-pagination strong.tui-first-child {
  margin-left: 0;
}

.tui-pagination .tui-first-child.tui-is-selected {
  border-left: 1px solid var(--accent-color);
}

.tui-pagination .tui-last-child.tui-is-selected {
  border-right: 1px solid var(--accent-color);
}

.tui-pagination .tui-first,
.tui-pagination .tui-last,
.tui-pagination .tui-next,
.tui-pagination .tui-next-is-ellip,
.tui-pagination .tui-prev,
.tui-pagination .tui-prev-is-ellip {
  border: none;
}

.tui-pagination .tui-page-btn {
  border: none;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.tui-pagination .tui-ico-ellip {
  margin-top: 0px;
}

.movie {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #000000;
}

.movie__container {
  max-width: 280px;
  padding: 48px 20px 41px 20px;
}

.movie__container--left-side {
  margin-bottom: 30px;
}

.movie__img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.movie__title {
  font-size: 20px;
  line-height: 1.15;
  text-transform: uppercase;
  text-align: start;
  margin-bottom: 20px;
}

.movie__info {
  width: 100%;
  margin-bottom: 20px;
}

.movie__info-rows td {
  padding-bottom: 10px;
}

.movie__info-rows--last td {
  padding-bottom: 0;
}

.movie__info-name {
  color: #8c8c8c;
  width: 108px;
  padding-right: 10px;
}

.movie__info-numbers {
  line-height: 1.17;
}

.movie__info-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.movie__info-rating-value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: main-bg-color;
  color: #000000;
  width: 36px;
  height: 16px;
  border-radius: 5px;
}

.movie__info-rating-slash {
  color: #8c8c8c;
  padding: 0 3px;
}

.movie__info-rating--accent {
  background-color: #ff6b08;
  color: #ffffff;
}

.movie__about-title {
  text-transform: uppercase;
  margin-bottom: 10px;
}

.movie__about-text {
  line-height: 1.67;
  margin-bottom: 21px;
  overflow: auto;
}

.movie__btn {
  width: 100%;
  margin-right: 15px;
  border-color: #000000;
  color: #000000;
}

.movie__btn.btn--accent {
  padding: 0 20px;
  color: #ffffff;
}

.movie__btn:last-child {
  margin-right: 0;
}

.movie__btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .movie__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 618px;
    max-width: 618px;
    padding: 42px 32px 40px 28px;
  }
  .movie__container--left-side {
    width: 264px;
    margin-bottom: 0px;
  }
  .movie__container--rigth-side {
    width: 264px;
  }
  .movie__about-text {
    max-height: 240px;
  }
  .movie__btn.btn--accent {
    padding: 0;
  }
}

@media screen and (min-width: 1024px) {
  .movie__container {
    width: 882px;
    max-width: 882px;
    height: 568px;
    padding: 50px 30px 40px 30px;
  }
  .movie__container--left-side {
    width: 396px;
    height: 478px;
    overflow: hidden;
  }
  .movie__container--rigth-side {
    width: 396px;
  }
  .movie__title {
    font-size: 30px;
    line-height: 1.17;
  }
  .movie__about-text {
    max-height: 204px;
  }
}

.btnClose {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
}
/*# sourceMappingURL=main.css.map */