.filters {
  &__group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
  }

  &__toggle {
    position: relative;
  }

  &__label {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    gap: 16px;

    padding: 7px 10px;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.17;
    color: var(--main-text-color);
    text-transform: uppercase;
    cursor: pointer;
    background-color: var(--secondary-bg-color);
    border-radius: 21px;

    .filters__radio + & &-slider {
      position: absolute;
      top: 2px;
      left: 2px;
      width: calc(50% - 4px);
      height: calc(100% - 4px);
      z-index: -1;

      background-color: var(--accent-color);
      border-radius: 21px;
      transition: var(--time) var(--cubic);
      transition-property: transform, width;
    }

    // .filters__radio:checked + & &-slider {
    //   // transform: translateX(100%);
    // }

    &-text {
      transition: var(--time) var(--cubic);
      transition-property: color;

      .filters__radio:checked + .filters__label > &:first-of-type,
      .filters__radio:not(:checked) + .filters__label > &:last-of-type {
        color: white;
      }
    }
  }
}
