body.light-theme {
  background-color: var(--main-text-color);
  color: var(--secondary-text-color);
}

body.dark-theme {
  background-color: var(--secondary-bg-color);
  color: var(--main-text-color);
}

.footer.light-theme {
  background-color: var(--main-bg-color);
  color: var(--secondary-text-color);
}

.footer.dark-theme {
  background-color: rgb(17, 16, 16);

  color: var(--third-text-color);
}

.tui-pagination {
  & .tui-ico-prev,
  & .tui-ico-next {
    &.dark-theme {
      stroke: var(--main-text-color);
      &:hover {
        stroke: var(--secondary-text-color);
      }
    }

    &.light-theme {
      stroke: var(--secondary-text-color);
    }
  }
  & .tui-page-btn {
    &.dark-theme {
      color: var(--main-text-color);
    }

    &:hover.dark-theme,
    &:hover.light-theme {
      color: var(--main-text-color);
      background-color: var(--accent-color);
    }

    &.light-theme {
      color: var(--secondary-text-color);
    }

    &.tui-prev:hover,
    &.tui-next:hover {
      background-color: var(--accent-color);
    }

    &.tui-prev:hover .tui-ico-prev,
    &.tui-next:hover .tui-ico-next {
      stroke: var(--main-text-color);
    }
  }

  & .tui-ico-ellip {
    &.dark-theme {
      fill: var(--main-text-color);
      background-color: var(--main-text-color);
    }

    &.light-theme {
      fill: var(--secondary-text-color);
      stroke: var(--secondary-text-color);
    }
  }

  &:hover .tui-ico-ellip {
    fill: var(--secondary-text-color);
  }
}

.toolbar {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;

  @media (min-width: $tablet) {
    margin-bottom: 0;
  }
}

/* THEME SWITCH */
.theme-switch {
  position: relative;
  display: flex;
  align-items: center;
}

.theme-switch__icon {
  color: currentColor;
  height: 12px;
  width: 12px;

  &.is-active {
    color: var(--accent-color);
  }

  @media (min-width: $tablet) {
    height: 14px;
    width: 14px;
  }
}

.theme-switch__control {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  position: relative;
  width: 28px;
  height: 14px;
  border-radius: 50em;
  padding: 3px 0;
  margin-left: 6px;
  margin-right: 6px;

  @media (min-width: $tablet) {
    width: 40px;
    height: 20px;
    margin-left: 8px;
    margin-right: 8px;
  }
}

.theme-switch__toggle {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  height: 0;
  width: 0;
  pointer-events: none;
}

.theme-switch__track {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: transparent;
  user-select: none;
  background-color: #202124;
  border-radius: inherit;
  z-index: 1;
  cursor: pointer;
}

.theme-switch__marker {
  position: relative;
  background-color: var(--main-text-color);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  z-index: 2;
  pointer-events: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  transition: transform 250ms var(--cubic);

  @media (min-width: $tablet) {
    width: 18px;
    height: 18px;
  }
}

.theme-switch__toggle:checked + .theme-switch__track {
  background-color: #d3d3d4;
}

.theme-switch__toggle:checked ~ .theme-switch__marker {
  transform: translateX(13px);
  @media (min-width: $tablet) {
    transform: translateX(20px);
  }
}

.theme-switch__toggle:focus + .theme-switch__track,
.theme-switch__toggle:active + .theme-switch__track {
  box-shadow: 0 0 0 3px var(--accent-color);
}
