:root {
  --main-font: 'Roboto', sans-serif;
  --accent-color: #ff6b08;
  --main-text-color: #ffffff;
  --secondary-text-color: #000000;
  --third-text-color: #8c8c8c;
  --footer-text-color: #545454;
  --main-bg-color: #f7f7f7;
  --icon-color: #818181;

  /*  ---------------- Animation ----------------- */
  --time: 250ms;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}
$main-font: 'Roboto', sans-serif;
$accent-color: #ff6b08;
$main-text-color: #ffffff;
$secondary-text-color: #000000;
$third-text-color: #8c8c8c;
$footer-text-color: #545454;
$main-bg-color: #f7f7f7;
$icon-color: #818181;

// breakpoints

$mobile: 320px;
$tablet: 768px;
$desktop: 1024px;
