<!-- filters in main -->

<div class="container">
  <div class="filters-container" data-filters>
    <!--  Фиксированные кнопки-переключатели toggle (популярные за день/неделю, премьеры) -->
    <div class="filters__group">
      <h3 class="filters__title">Trending</h3>

      <div class="filters__toggle trending-toggle">
        <input
          id="trending-toggle-id"
          class="filters__radio visually-hidden"
          name="trending"
          type="checkbox"
          value="day"
          checked
          data-trending-checkbox
        />

        <label for="trending-toggle-id" class="filters__label" data-trending-label>
          <div class="filters__label-slider"></div>
          <span class="filters__label-text">Daily</span>
          <span class="filters__label-text">By week</span>
        </label>
      </div>
    </div>
  </div>
</div>
