<footer class="footer">
    <div class="container">
      <div class="footer__container">
        <p class="footer__copyright">© &nbsp2021 | All Rights Reserved |</p>
        <p class="footer__authors">
          Developed with
          <svg class="footer__icon heartBeat" width="14" height="13">
            <use href="./images/sprite.svg/#icon-footer"></use>
          </svg>
          by&nbsp;
          <a class="footer__link" href="">GoIT Students</a>
        </p>
      </div>
    </div>
  </footer>