<section class="section gallery">
  <div class="container wrapper">
    <!-- preloader-->
    <div class="loader-wrapper">
      <div class="loader"></div>
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
    </div>
    <div class="snow__buttons"></div>
    <div class="carousel js-carousel is-hidden">
      <h2 class="carousel__title">queue</h2>
      <div class="carousel__gif gif-queue"></div>
      <div class="carousel__wrapper">
        <div class="carousel__viewbox" data-action="carousel-queue">
          <div class="carousel__arrow carousel__arrow--prev" data-action="js-arrow-prev">
            <span class="carousel__arrow-wrapper">
              <svg class="carousel__arrow-icon">
                <use href="./images/svg/sprite.svg#icon-arrow-prev"></use>
              </svg>
            </span>
          </div>
    
          <ul class="carousel__gallery carousel__gallery--queue"></ul>
    
          <div class="carousel__arrow carousel__arrow--next" data-action="js-arrow-next">
            <span class="carousel__arrow-wrapper">
              <svg class="carousel__arrow-icon">
                <use href="./images/svg/sprite.svg#icon-arrow-next"></use>
              </svg>
            </span>
          </div>
        </div>
      </div>
      <h2 class="carousel__title">watched</h2>
      <div class="carousel__gif gif-watched"></div>
      <div class="carousel__wrapper">
        <div class="carousel__viewbox" data-action="carousel-watched">
          <div class="carousel__arrow carousel__arrow--prev" data-action="js-arrow-prev">
            <span class="carousel__arrow-wrapper">
              <svg class="carousel__arrow-icon">
                <use href="./images/svg/sprite.svg#icon-arrow-prev"></use>
              </svg>
            </span>
          </div>
          <ul class="carousel__gallery carousel__gallery--watched"></ul>
          <div class="carousel__arrow carousel__arrow--next" data-action="js-arrow-next">
            <span class="carousel__arrow-wrapper">
              <svg class="carousel__arrow-icon">
                <use href="./images/svg/sprite.svg#icon-arrow-next"></use>
              </svg>
            </span>
          </div>
        </div>
      </div>
    </div>
    <ul class="gallery__list" data-gallery="home"></ul>
    <div class="notify-gif">
      <video
        src="https://media1.giphy.com/media/U8FvqfxkzxoSpokGaW/giphy.mp4?cid=790b76114676f878c20b3d67078e0c372fe00f9bb644f63d&rid=giphy.mp4&ct=g"
        class="fon-gallery"
        autoplay="true"
        loop="true"
      ></video>
    </div>
    <div id="pagination" class="tui-pagination"></div>
  </div>
</section>
