<section class="section gallery">
  <div class="container">
    <canvas id="sky"></canvas>
    <!-- preloader-->
    <div class="loader-wrapper">
      <div class="loader"></div>
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
    </div>
    <ul class="gallery__list" data-gallery></ul>
    <div class="notify-gif is-hidden">
      <iframe
        src="https://giphy.com/embed/U8FvqfxkzxoSpokGaW"
        width="480"
        height="480"
        frameborder="0"
        class="giphy-embed"
        allowfullscreen
      ></iframe>
      <p>
        <a
          href="https://giphy.com/gifs/Stolengoods-animation-motiongraphics-stolen-goods-U8FvqfxkzxoSpokGaW"
          >via GIPHY</a
        >
      </p>
    </div>
    <div id="pagination" class="tui-pagination"></div>
  </div>
</section>
