<header class='header header--home js-header'>
    <div class="container header__wrapper">
        <div class="header__navbar" data-action-controls >
            <!-- logo -->
            <div class="header__logo" >
                <span class="header__logo-text" data-action="logo">
                    <svg class="header__logo-image" width="24" height="24" data-action="logo">
                        <use href="./images/optimsprite.svg#icon-film" data-action="logo"></use>
                    </svg>
                    Filmoteka
                </span>
            </div>
            <!-- /.logo -->
            <!-- site-menu -->
            <nav class="top-nav" data-action-controls>
                <button class="top-nav__button is-active" data-action="js-home" >Home</button>
                <button class="top-nav__button" data-action="js-library">my library</button>
            </nav>
            <!-- /.site-menu -->
        </div>
       
        <!-- Changing block: show search-form or library-controls. -->
        <div class="header__controls" data-header-controls></div>
        <!-- /.search-form -->
    </div>
</header>