<div class="test"></div>



<div class="modal-window">
    <div class="movie movie__container">
    
    <div class="movie__container--left-side">
       <img class="movie__img" src="../src/images/Rectangle 18.jpg" alt="заглушка">
    </div>


<div class="movie__container--rigth-side">
    <h1 class="movie__title">A FISTFUL OF LEAD</h1>

    <table class="movie__info" >
        <tbody>
        <tr class="movie__info-rows">
            <td class="movie__info-name">Vote / Votes</td>
            <td class="movie__info-rating">
                <span class="movie__info-rating-value movie__info-rating--accent">7.3 </span>  
                <span class="movie__info-rating-slash">/</span>  
                <span class="movie__info-rating-value">1260</span>
            </td>
        </tr>
        <tr class="movie__info-rows">
            <td class="movie__info-name">Popularity</td>
            <td class="movie__info-numbers">100.2</td>
        </tr>
        <tr class="movie__info-rows">
            <td class="movie__info-name">Original Title</td>
            <td class="movie__info-value">A FISTFUL OF LEAD</td>
        </tr>
        <tr class="movie__info-rows movie__info-rows--last">
            <td class="movie__info-name">Genre</td>
            <td class="movie__info-value">Western</td>
        </tr>
        </tbody>
    </table>

    <h2 class="movie__about-title">About</h2>
    <p class="movie__about-text">Four of the West’s most infamous outlaws assemble to steal a huge stash of gold from the most corrupt settlement of the
    gold rush towns. But not all goes to plan one is killed and the other three escapes with bags of gold hide out in the
    abandoned gold mine where they happen across another gang of three – who themselves were planning to hit the very same
    bank! As tensions rise, things go from bad to worse as they realise the bags of gold are filled with lead... they’ve
    been double crossed – but by who and how?</p>

    <div class="movie__btn-container">
    <button type="submit" class="movie__btn btn btn--accent"> add to Watched </button>
    <button type="submit" class="movie__btn btn "> add to queue </button>
    </div>


</div>
</div>
</div>