.gallery {
  padding: 20px 0;

  @media screen and (min-width: $third-bp) {
    padding: 60px 0;
  }
}

.gallery__list {
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 20px;
  display: grid;

  margin: 0 auto;
  list-style: none;

  @media screen and (min-width: $second-bp) {
    gap: 30px;
    grid-template-columns: repeat(2, minmax(294px, 1fr));
  }

  @media screen and (min-width: $third-bp) {
    max-width: $third-bp - 2 * 71px;
    grid-template-columns: repeat(3, minmax(274px, 1fr));
  }
}

.gallery__item {
  width: 100%;
}

// .card { }

.card__thumb {
  margin: 0 auto 10px;
  border-radius: 5px;
}

.card__poster {
  margin: 0 auto;
  border-radius: 5px;
  width: 100%;
  height: auto;
  display: block;
  max-height: 398px;

  @media screen and (min-width: $second-bp) {
    min-width: 294px;
  }

  @media screen and (min-width: $third-bp) {
    min-width: 274px;
  }
}

.card__title,
.card__genres,
.card__release-date {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
}

.card__title {
  margin-bottom: 6px;
}

.card__genres {
}

.card__description {
  margin: 0;
  color: orange;
}

.card__release-date {
  margin-left: 1px;
  padding-left: 5px;

  border-left: 1px solid rgba(orange, 0.21);
}
