.gallery {
  padding: 20px 0;

  @media screen and (min-width: $desktop) {
    padding: 60px 0;
  }
}

.gallery__list {
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 20px;
  display: grid;

  margin: 0 auto 40px;
  list-style: none;

  @media screen and (min-width: $tablet) {
    gap: 30px;
    margin-bottom: 50px;
    grid-template-columns: repeat(2, minmax(294px, 1fr));
  }

  @media screen and (min-width: $desktop) {
    max-width: $desktop - 2 * 71px;
    grid-template-columns: repeat(3, minmax(274px, 1fr));
  }
}

.gallery__item {
  width: 100%;
  border-radius: 5px;
  transition: var(--time) var(--cubic);
  transition-property: transform, box-shadow;

  &:focus-within,
  &:hover {
    transform: scale(1.04);
    box-shadow: var(--card-shadow);
  }
}

.card {
  display: flex;
  flex-direction: column;

  border-radius: 5px;

  // background-color: var(--main-text-color);
}

.card__thumb {
  position: relative;
  overflow: hidden;
  margin: 0 auto 10px;
  background-color: #efececeb;
  border-radius: 5px;
}

.card__meta {
  contain: content;
  max-width: 100%;
  max-height: 3rem;
  padding: 0 5px 5px;
  white-space: nowrap;
}

.card__poster {
  display: block;
  width: 100%;
  height: 398px;
  margin: 0 auto;
  border-radius: 5px;

  @media screen and (min-width: $tablet) {
    min-width: 294px;
  }

  @media screen and (min-width: $desktop) {
    min-width: 274px;
  }
}

.card__title,
.card__genres,
.card__release-date {
  font-family: var(--main-font);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.33;
  word-wrap: break-word;
}

.card__title {
  contain: content;
  max-height: 2rem;
  color: var(--secondary-text-color);
  text-transform: uppercase;
}

// .card__genres {}

.card__description {
  margin: 0;
  color: var(--accent-color);
}

.card__release-date {
  padding-left: 5px;
  margin: 0 10px 0 1px;
  margin-left: 1px;
  border-left: 1px solid var(--accent-color);
}

.card__vote {
  padding: 1px 10px;
  color: var(--main-text-color);
  background-color: var(--accent-color);
  border-radius: 5px;
}

.card__list-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(245, 171, 101, 0.37);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: rgb(228, 30, 30);
  overflow: hidden;
  contain: content;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 63px;
  padding-bottom: 63px;
  transform: translateY(100%);
  transition: transform var(--time);

  .card__list-link-wrapper:hover &,
  .card__list-link-wrapper:focus & {
    transform: translateY(0%);
  }
}

.loader-wrapper {
  --line-width: 5px;
  --curtain-color: #f1faee;
  --outer-line-color: #e2ae83;
  --middle-line-color: #ce8026;
  --inner-line-color: #c76a13;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.loader {
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
  /*   transform: translate(-50%, -50%); */
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: var(--line-width) solid transparent;
  border-top-color: var(--outer-line-color);
  border-radius: 100%;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  z-index: 1001;
}

.loader:before {
  content: '';
  position: absolute;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  border: var(--line-width) solid transparent;
  border-top-color: var(--inner-line-color);
  border-radius: 100%;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}

.loader:after {
  content: '';
  position: absolute;
  top: 14px;
  left: 14px;
  right: 14px;
  bottom: 14px;
  border: var(--line-width) solid transparent;
  border-top-color: var(--middle-line-color);
  border-radius: 100%;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  background: var(--curtain-color);
  width: 51%;
  height: 100%;
  z-index: 1000;
}

.loader-wrapper .loader-section.section-left {
  left: 0;
}
.loader-wrapper .loader-section.section-right {
  right: 0;
}

/* Loaded Styles */
.loaded .loader-wrapper .loader-section.section-left {
  transform: translateX(-100%);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.loaded .loader-wrapper .loader-section.section-right {
  transform: translateX(100%);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.loaded .loader {
  opacity: 0;
  transition: all 0.3s ease-out;
}
.loaded .loader-wrapper {
  visibility: hidden;
  transform: translateY(-100%);
  transition: all 0.3s 1s ease-out;
}

.notify-gif {
  display: none;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
