.header {
  color: var(--main-text-color);
  background-image: linear-gradient(to right, var(--gradient-color), var(--gradient-color)),
    url(../images/header/home/header-home-bg-1024.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  font-family: 'Roboto', sans-serif;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/header/home/header-home-bg-1024@2x.jpg);
  }

  &__wrapper {
    height: 230px;
    padding-top: 41px;
    padding-bottom: 59px;
  }

  &__navbar {
    display: flex;
    align-items: flex-end;
    margin-bottom: 37px;
  }

  &__logo {
    flex-grow: 1;
    .logo {
      // Заглушка!!!!!!!! Поменять
      background-color: #fff;
    }

    .text {
      font-size: 30px;
      font-weight: 500;
      line-height: 1.17;
    }
  }

  .top-nav {
    &__button {
      padding: 0;
      border: none;

      background-color: transparent;
      color: var(--main-text-color);

      text-transform: uppercase;
      font-size: 12px;
      font-weight: 500;
      line-height: 1.17;

      cursor: pointer;

      &:hover {
        border-bottom: 2px solid var(--accent-color);
      }

      &.is-active {
        border-bottom: 2px solid var(--accent-color);
      }
    }

    &__button:not(:last-child) {
      margin-right: 39px;
    }
  }

  &__controls {
    display: flex;
    justify-content: center;
  }

  &__search {
    text-align: center;
    border-bottom: 0.5px solid var(--main-text-color);
    .input {
      width: 320px;
      border: none;
      outline: none;
      background: transparent;
      color: inherit;

      &::placeholder {
        color: inherit;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.17;
      }
    }

    .search-button {
      width: 12px;
      height: 12px;
      // Дописать стили, после добавления иконки из спрайта
      background-color: var(--main-text-color);
    }
  }

  &__library-controls {
  }
}

.button {
  width: 136px;
  padding: 12px 38px 14px;
  border: 1px solid var(--main-text-color);
  border-radius: 5px;
  background-color: transparent;
  color: var(--main-text-color);

  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  text-transform: uppercase;

  &:not(:last-child) {
    margin-right: 15px;
  }

  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
    background-color: var(--accent-color);
  }

  &.is-active {
    border: 1px solid var(--accent-color);
    background-color: var(--accent-color);
  }
}
