.header {
  color: var(--main-text-color);

  font-family: 'Roboto', sans-serif;

  &--home {
    background-image: linear-gradient(to right, var(--gradient-color), var(--gradient-color)),
      url(../images/header/home/header-home-bg-320.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, var(--gradient-color), var(--gradient-color)),
        url(../images/header/home/header-home-bg-320@2x.jpg);
    }

    @media (min-width: $tablet) {
      background-image: linear-gradient(to right, var(--gradient-color), var(--gradient-color)),
        url(../images/header/home/header-home-bg-768.jpg);

      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: linear-gradient(to right, var(--gradient-color), var(--gradient-color)),
          url(../images/header/home/header-home-bg-768@2x.jpg);
      }
    }

    @media (min-width: $desktop) {
      background-image: linear-gradient(to right, var(--gradient-color), var(--gradient-color)),
        url(../images/header/home/header-home-bg-1024.jpg);

      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: linear-gradient(to right, var(--gradient-color), var(--gradient-color)),
          url(../images/header/home/header-home-bg-1024@2x.jpg);
      }
    }

    @media (min-width: 1300px) {
      background-image: linear-gradient(to right, var(--gradient-color), var(--gradient-color)),
        url(../images/header/home/header-home-bg-big.jpg);

      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: linear-gradient(to right, var(--gradient-color), var(--gradient-color)),
          url(../images/header/home/header-home-bg-big@2x.jpg);
      }
    }
  }

  &--library {
    background-image: linear-gradient(to right, var(--gradient-color), var(--gradient-color)),
      url(../images/header/library/header-library-bg-320.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url(../images/header/library/header-library-bg-320@2x.jpg);
    }

    @media (min-width: $tablet) {
      background-image: linear-gradient(to right, var(--gradient-color), var(--gradient-color)),
        url(../images/header/library/header-library-bg-768.jpg);

      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: linear-gradient(to right, var(--gradient-color), var(--gradient-color)),
          url(../images/header/library/header-library-bg-768@2x.jpg);
      }
    }

    @media (min-width: $desktop) {
      background-image: linear-gradient(to right, var(--gradient-color), var(--gradient-color)),
        url(../images/header/library/header-library-bg-1024.jpg);

      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: linear-gradient(to right, var(--gradient-color), var(--gradient-color)),
          url(../images/header/library/header-library-bg-1024@2x.jpg);
      }
    }

    @media (min-width: 1300px) {
      background-image: linear-gradient(to right, var(--gradient-color), var(--gradient-color)),
        url(../images/header/library/header-library-bg-big.jpg);

      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: linear-gradient(to right, var(--gradient-color), var(--gradient-color)),
          url(../images/header/library/header-library-bg-big@2x.jpg);
      }
    }
  }

  .container--top {
    position: relative;
    top: 21px;

    @media (min-width: $tablet) {
      display: none;
    }
  }

  &__wrapper {
    height: 230px;
    padding-top: 41px;
    padding-bottom: 59px;

    @media (max-width: $tablet) {
      padding-top: 21px;
    }
  }

  &__navbar {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 37px;
  }

  &__logo {
    display: flex;
    align-items: center;
    // animation: iconLight var(--time) var(--cubic);

    // &:hover {
    //   @include keyframes(iconLight) {
    //     from {
    //       transform: rotate(0deg);
    //     }

    //     to {
    //       transform: rotate(360deg);
    //     }
    //   }
    // }

    &-text {
      display: none;

      @media (min-width: $tablet) {
        display: inline-block;
        font-size: 30px;
        font-weight: 500;
        line-height: 1.17;
      }
    }

    &-image {
      width: 24px;
      height: 24px;
      margin-right: 10px;

      transition-property: transform;
      transition-duration: 200ms;
      transition-timing-function: linear;

      &:hover {
        transform: rotate(180deg);
      }
    }
  }

  .top-nav {
    display: flex;
    flex-direction: column-reverse;

    @media (min-width: $tablet) {
      flex-direction: row;
      align-items: center;
    }

    &__button {
      padding: 0;
      border: none;
      border-bottom: 3px solid transparent;

      background-color: transparent;
      color: var(--main-text-color);

      text-transform: uppercase;
      font-size: 12px;
      font-weight: 500;
      line-height: 1.17;

      cursor: pointer;

      &:hover {
        border-bottom: 3px solid var(--accent-color);
      }

      &.is-active {
        border-bottom: 3px solid var(--accent-color);
      }
    }

    &__button:not(:last-child) {
      margin-right: 15px;

      @media (min-width: $tablet) {
        margin-right: 39px;
      }
    }

    &__button:nth-child(2) {
      margin-right: 0;

      @media (min-width: $tablet) {
        margin-right: 39px;
      }
    }
  }

  &__controls {
    display: flex;
    justify-content: center;
  }

  &__search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
    text-align: center;
    border-bottom: 0.5px solid var(--main-text-color);

    @media (min-width: $tablet) {
      width: 336px;
    }
  }
}

.input {
  width: 100%;
  margin-top: 4px;
  margin-bottom: 4px;
  border: none;
  outline: none;
  background: transparent;
  color: var(--main-text-color);

  &::placeholder {
    color: inherit;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.17;
  }

  @media (min-width: $tablet) {
    width: 314px;
  }
}

.search-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 2px;

  transition: var(--cubic) var(--time);
  transition-property: color, box-shadow;

  &:hover {
    color: var(--accent-color);
  }

  &:active {
    box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
  }

  .search-icon {
    width: 12px;
    height: 12px;
    color: currentColor;
    fill: transparent;
    cursor: pointer;
  }
}

.button {
  width: 129px;

  padding: 12px 36px 14px;
  border: 1px solid var(--main-text-color);
  border-radius: 5px;
  background-color: transparent;
  color: var(--main-text-color);

  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  text-transform: uppercase;

  cursor: pointer;

  @media (min-width: $tablet) {
    width: 136px;
    padding: 12px 38px 14px;
  }

  &:not(:last-child) {
    margin-right: 15px;
  }

  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
    background-color: var(--accent-color);
  }

  &:active {
    border: 1px solid var(--accent-color);
    background-color: var(--accent-color);
    box-shadow: 0px 5px 5px 2px rgba(211, 90, 4, 0.6) inset;
  }

  &.is-active {
    border: 1px solid var(--accent-color);
    background-color: var(--accent-color);
    box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
  }
}

// @mixin keyframes($animationName) {
//   @keyframes animationName {
//     @content;
//   }
// }
