main {
  position: relative;
}

section.section__js {
  background-image: url('../images/library.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 118px 0;
  height: 1000px;
  width: 100%;
}

#sky {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: none;
  width: 100%;
}

.title__library {
  text-align: center;
  color: var(--main-text-color);
}

.glow-on-hover {
  position: relative;
  z-index: 1;
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 136px;
  padding: 12px 38px 14px;
  border-radius: 10px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  height: 50px;
  border: none;
  outline: none;

  color: var(--main-text-color);
  background: var(--main-text-color);
  cursor: pointer;

  &:before {
    content: '';
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }

  &:active {
    color: var(--secondary-text-color);
  }

  &:active:after {
    background: transparent;
  }

  &:hover:before {
    opacity: 1;
  }

  &:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
}
@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

@media (max-width: $tablet) {
  section.section__js {
    height: 530px;
  }
}

.fon-library {
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  width: 300px;
  height: 300px;
  transform: translateX(-50%);
  left: 47%;
}

@media (min-width: $tablet) {
  .fon-library {
    top: 10%;
    left: 105%;
  }
}

@media (min-width: $desktop) {
  .fon-library {
    top: 10%;
    left: 165%;
  }
}
