section.section__js{
    background-image:url('https://www.hypnoticworld.com/site/image-credited.php?image=107.jpg');
    background-size:cover;
    margin:0;
    padding:0;
    max-height: 1000px;
  }
  #sky{
    display: none;
  }
  .title__library{
    padding-top: 30px;
    text-align: center;
    color: var(--main-text-color);
  }
  .glow-on-hover {
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 136px;
    padding: 12px 38px 14px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.33;
    height: 50px;
    border: none;
    outline: none;
    
    color: var(--main-text-color);
    background: var(--main-text-color);
    cursor: pointer;
    position: relative;
    z-index: 0;
    // border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: var(--secondary-text-color);
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
